### TECH CHALLENGE

In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('data/measurements.csv')

In [4]:
df2 = pd.read_excel('data/measurements2.xlsx')

In [5]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [6]:
df2.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN

In [7]:
df.shape

(388, 12)

In [8]:
df2.shape

(388, 12)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     float64
 11  refill gas     13 non-null     object
dtypes: float64(4), int64(5), object(3)
memory usage: 36.5+ KB

Aparentemente es el mismo archivo pero el proveniente del excel contiene float, así que trabajo con este.

In [13]:
df2.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas'],
      dtype='object')

In [15]:
#verifico nulos
df2.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

#### Columna temp_inside

In [18]:
df2[df2.temp_inside.isnull()]

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
93,12.4,4.7,43,NaN,10,NaN,SP98,0,0,0,NaN,NaN
95,11.8,5.3,52,NaN,11,NaN,SP98,0,0,0,NaN,NaN
97,15.7,5.3,33,NaN,9,NaN,SP98,0,0,0,NaN,NaN
98,12.9,5.7,35,NaN,9,NaN,SP98,0,0,0,NaN,NaN
99,6.4,4.4,37,NaN,10,NaN,SP98,0,0,0,NaN,NaN
100,5.3,4.1,34,NaN,9,NaN,SP98,0,0,0,NaN,NaN
102,18.8,5.0,62,NaN,9,rain,SP98,0,1,0,NaN,NaN
201,22.2,3.8,42,NaN,15,NaN,SP98,0,0,0,NaN,NaN
203,12.6,4.1,33,NaN,17,NaN,SP98,0,0,0,NaN,NaN
261,24.5,3.9,50,NaN,15,sun,E10,0,0,1,NaN,NaN
267,22.9,4.0,29,NaN,21,NaN,E10,0,0,0,NaN,NaN
268,16.0,3.8,42,NaN,8,NaN,E10,0,0,0,NaN,NaN

In [19]:
df2.temp_inside.value_counts()

21.5    133
22.0    102
22.5     59
20.0     25
21.0     13
23.0     13
25.0     12
24.5      7
20.5      4
24.0      3
23.5      2
25.5      2
19.0      1
Name: temp_inside, dtype: int64

In [21]:
#relleno con la media
df2.temp_inside.fillna(df2.temp_inside.mean(), inplace=True)

#### Columna specials

In [23]:
df2.specials.value_counts()

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
snow                   3
sun ac                 3
AC snow                1
half rain half sun     1
AC sun                 1
AC Sun                 1
ac rain                1
Name: specials, dtype: int64

In [25]:
df2.specials.fillna('none', inplace=True)

In [ ]:
#cleaned